@import url("http://fonts.googleapis.com/css?family=Lobster");
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  height: 100%; }

body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-image: url("../img/pw_maze_black.png");
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

h1 {
  text-align: center;
  color: #f7fafd;
  line-height: 2em;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.05);
  text-shadow: 0 1px 4px 1px black;
  font-family: Lobster; }

.wrapper {
  padding: .8rem;
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 100%; }

input, .full-button {
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  padding: .5rem;
  border-radius: 8px;
  border: none;
  margin-bottom: .5rem; }

input[type="text"], [type="text"].full-button {
  text-align: center;
  border: 3px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 2px 1px rgba(0, 0, 0, 0.5) inset; }
  input[type="text"]:active, [type="text"].full-button:active, input[type="text"]:focus, [type="text"].full-button:focus {
    outline: none;
    background-color: #fda; }

input[type="submit"], .full-button {
  background-color: #3369EA;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #2359DA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 25px 0 rgba(255, 255, 255, 0.1) inset; }
  input[type="submit"]:active, .full-button:active, input[type="submit"]:focus, .full-button:focus {
    outline: none;
    background-color: #1349CA;
    border-bottom: 2px solid #0339BA; }

.full-button {
  display: block;
  text-align: center;
  text-decoration: none; }

.result {
  background-color: #fff;
  position: relative;
  padding: .5rem;
  margin-bottom: .8rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(#f8f8fc, #e3e3f2);
  background-image: linear-gradient(#f8f8fc, #e3e3f2); }
  .result:after {
    content: "";
    display: table;
    clear: both; }

.title-section {
  float: left;
  width: 40%;
  padding-right: .5rem;
  box-sizing: border-box; }
  .title-section h2 {
    margin: 0; }
  .title-section img {
    width: 100%; }
  .title-section span {
    opacity: .7;
    font-style: italic; }

.info-section {
  float: left;
  width: 60%; }
  .info-section p {
    margin: 0; }

.read-more {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  color: #3369ea; }
